<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- Added the header to contain the Website Banner -->
    <header style="padding:20px; background-color:aqua; text-align:center">
        <h1 style="text-font:80px; color:azure">Rate Your Restaurant</h1>
        <h3 style="background-color:aqua; text-align:right;">
            @Html.Partial("_NavBar")
        </h3>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year Restaurant Reviews</p>
    </footer>
</body>
</html>
