<!-- This partial view defines the navigation bar that is displayed on all pages of the site -->
<table>
    <thead style="align-content:center">
        <pre>
@Html.ActionLink("Home", "Index", "Restaurant") @Html.ActionLink("About Us", "AboutUs", "Restaurant") @Html.ActionLink("Contact Us", "ContactUs", "Restaurant")
</pre>
    </thead>
</table>